<div class="mdui-appbar mdui-shadow-0 mdui-appbar-fixed">
    <div class="mdui-toolbar">
        <i class="mdui-icon material-icons mdui-m-l-3 mdui-m-r-0">gesture</i>
        <a href="/" class="mdui-typo-title">Remlink</a>
        <div class="mdui-toolbar-spacer"></div>
        {% if logined %}
        <a href="/new" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '发表动态'}">
            <i class="mdui-icon material-icons">add_box</i>
        </a>
        <a href="/profile" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '个人中心'}">
            <i class="mdui-icon material-icons">account_box</i>
        </a>
        <a href="/logout" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '退出账号', position: 'left'}">
            <i class="mdui-icon material-icons">exit_to_app</i>
        </a>
        {% else %}
        <a href="/login" class="mdui-btn mdui-btn-icon" mdui-tooltip="{content: '登录', position: 'left'}">
            <i class="mdui-icon material-icons">account_circle</i>
        </a>
        {% endif %}
    </div>
</div>
<div style="z-index: 999; position: fixed; top: 0; right: 0; left: 0;
    background: linear-gradient(0, transparent, 25%, white); height: 80px;
"></div>