<style>
    .post {
        border-radius: 15px;
        background-color: #f8f8f8;
        border: 1px solid #e0e0e0;
    }

    .post .mdui-list-item {
        border-bottom: 1px solid #e0e0e0;
    }

    .post .mdui-list-item .mdui-btn {
        border-radius: 5px;
    }

    .post .mdui-card-actions {
        border-top: 1px solid #e0e0e0;
    }

    .post .mdui-card-actions .mdui-btn {
        border-radius: 7px;
    }
</style>
{% if posts %}
{% for post in posts %}
<div class="mdui-card mdui-list mdui-m-y-4 mdui-p-y-0 mdui-shadow-0 mdui-hoverable post">
    <a href="{{ url_for('main.profile', target_user_id=post.author.user_id) }}" class="mdui-list-item mdui-ripple">
        <i class="mdui-list-item-avatar mdui-icon material-icons">
            {{ ['beach_access', 'flag', 'color_lens', 'directions_run', 'polymer'][post.author.user_id % 5] }}
        </i>
        <div class="mdui-list-item-content" style="max-width: calc(100% - 144px);">
            <div class="mdui-list-item-title">{{ post.author.username }}</div>
            <div class="mdui-list-item-text mdui-text-truncate mdui-list-item-one-line" style="display: block;">{{
                post.author.get_bio() }}</div>
        </div>
        {% if post.author.following %}
        <button class="mdui-btn mdui-ripple"
            onclick="event.stopPropagation(); action('unfollow', {{ post.author.user_id }});">关注中</button>
        {% elif post.owned %}
        <button class="mdui-btn" disabled>我</button>
        {% else %}
        <button class="mdui-btn mdui-ripple mdui-color-theme-accent"
            onclick="event.stopPropagation(); action('follow', {{ post.author.user_id }});">关注</button>
        {% endif %}
    </a>

    <div class="mdui-card-content">
        <span>{{ post.content }}</span>
        <div class="mdui-card-header-subtitle mdui-m-l-0 mdui-m-t-2">
            {{ post.created_at }} / {{ post.privacy }}
        </div>
    </div>

    <div class="mdui-card-actions">
        {% if post.liked %}
        <button class="mdui-btn mdui-ripple mdui-text-color-red" onclick="action('unlike', {{ post.post_id }});">
            <i class="mdui-icon material-icons">favorite</i>
            <span>
                {{ post.like_count }} 喜欢
            </span>
        </button>
        {% else %}
        <button class="mdui-btn mdui-ripple" onclick="action('like', {{ post.post_id }});">
            <i class="mdui-icon material-icons">favorite_border</i>
            <span>
                {{ post.like_count }} 喜欢
            </span>
        </button>
        {% endif %}
        {% if post.owned %}
        <button class="mdui-btn mdui-btn-icon mdui-float-right mdui-m-r-0">
            <i class="mdui-icon material-icons">delete_forever</i>
        </button>
        <button class="mdui-btn mdui-btn-icon mdui-float-right mdui-m-r-0">
            <i class="mdui-icon material-icons">edit</i>
        </button>
        {% endif %}
    </div>

</div>
{% endfor %}
{% else %}
<div style="height: 512px;" class="mdui-valign">
    <div class="mdui-typo-display-1-opacity mdui-center">Nothing here...</div>
</div>
{% endif %}

<script>
    const action = async (endpoint, user_id) => {
        const response = await fetch(`/${endpoint}/${user_id}`, { method: 'POST' });
        if (response.status === 204) {
            location.reload();
        } else if (response.status === 401) {
            location.href = '/login';
        } else if (response.status === 400) {
            const message = await response.text();
            mdui.snackbar({ message: message });
        }
    };
</script>