{% extends "base.html" %}
{% block content %}
<div class="mdui-typo mdui-p-t-4 mdui-p-b-2">
    <h1>{{ profile.username }}</h1>
    <p>{{ profile.bio }}</p>
    <div class="mdui-card-actions mdui-p-a-0">
        <span class="mdui-btn mdui-ripple mdui-color-theme-accent">关注</span>
        <i class="mdui-btn mdui-ripple">some action</i>
        <button class="mdui-btn mdui-btn-icon mdui-float-right mdui-m-r-0">
            <i class="mdui-icon material-icons">expand_more</i>
        </button>
    </div>
    <hr />
</div>
{% if error %}
<div class="mdui-chip">
    <span class="mdui-chip-icon mdui-color-red">
        <i class="mdui-icon material-icons">error_outline</i>
    </span>
    <span class="mdui-chip-title">{{ error }}</span>
</div>
{% endif %}
{% include "posts.html" %}
{% endblock %}